body{
    margin: 0px;
}

.header{ 
    padding: 20px 150px 20px 150px;
    background-color: rgba(171, 202, 218, 0.134);
    text-align: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}



.navbar{
    display: flex;
    justify-content: space-between;
}

.item{
    display: flex;
    gap: 10px;
}

.hdes{
    color: gray;
}

.hdetailstext{
    padding: 0px 300px;
}
.hdetailstext h1{
    font-size: 200%;
}

.btn{
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 13px 15px;
    border: none;
}

.hbanner{
    width: 100%;
}

.hbanner{
    margin: 20px 0px;
}



.btn:hover{
    background-color: rgb(0, 102, 255);
}

.features{
    padding: 20px 150px 20px 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.featuresdet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}

.featuresimg{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.headerfeature{
    font-size: 50px; 
}

.hfirst{
    color: gray;
}
.hsecond{
    color: blue;
}