body{
    margin: 0px;
}

.header{ 
    padding: 20px 150px 20px 150px;
    background-color: rgba(171, 202, 218, 0.134);
    text-align: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}



.navbar{
    display: flex;
    justify-content: space-between;
}

.item{
    display: flex;
    gap: 10px;
}

.hdes{
    color: gray;
}

.hdetailstext{
    padding: 0px 300px;
}
.hdetailstext h1{
    font-size: 200%;
}

.btn{
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 13px 15px;
    border: none;
}

.hbanner{
    width: 100%;
}

.hbanner{
    margin: 20px 0px;
}



.btn:hover{
    background-color: rgb(0, 102, 255);
}

.features{
    padding: 20px 150px 50px 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.featuresdet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}

.featuresimg{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.headerfeature{
    font-size: 50px; 
}

.hfirst{
    color: gray;
}
.hsecond{
    color: blue;
}

.lovedfeatures{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 150px 50px 150px;
}
.lfdetails{
    width: 100%;
    margin: 0px;
}

.lfheader{
    font-size: 300%;
    border-left: 4px solid blue;
    padding: 0px 10px;
}

.lfitems{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    gap: 20px;
}

.lfitme{
    box-shadow: 0px 1px 5px 0px gray;
    border-radius: 5px;
    padding: 5px 20px;
    
}

.itemheader{
    font-size: 300%;

}
.itemdes{
    color: gray;
}
.lfimage{
    margin: 0px 50px;
    width: 100%;
}

.btnh{
    font-size: 300%;

}

.lfbanner{
    margin-left: 50px;
}

.lfbtn{
    position: relative;
    padding: 40px 50px;
}

.lfbtn:hover{
    top: -80px;
    /* transition-delay: 5s; */
}

.facts{
    padding: 50px 150px 50px 150px;
}

.factsitems{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.factitem{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 50px;
}

.factitem > b {
    font-size: 200%;
}